.btn {
  display: inline-block;
  line-height: 40px;
  border-radius: 6px;
  text-align: center;
  background-color: none;
  padding: 0;
  cursor: pointer;

  &.primary {
    font-weight: 700;
    color: $color-primary;
    border: 1px solid $color-primary;
    &.fill {
      background-color: $color-primary;
      color: $color-white;
    }
  }
  &.secondary {
    font-weight: 600;
    color: $color-secondary;
    border: 1px solid $color-secondary;
    &.fill {
      background-color: $color-secondary;
      color: $color-white;
    }
  }
  &.quaternary {
    font-weight: 600;
    color: $color-quaternary;
    border: 1px solid $color-quaternary;
    &.fill {
      background-color: $color-quaternary;
      color: $color-white;
    }
  }
  &.small {
    width: 140px;
  }
  &.medium {
    width: 180px;
  }
}
