.committee {
  .committee-card {
    margin: 0 auto;
  }
  .trailer-container {
    margin: 60px auto;
  }

  .members-container,
  .topics-container,
  .division-bar {
    margin: 60px auto;
    max-width: 965px;
  }
}
