.committees {
  .committee-definition {
    text-align: center;
    max-width: 768px;
    margin: 40px auto 0;
  }
  .committees-wrapper {
    margin-top: 90px;

    .committee-card {
      margin: 0 auto;
      &:not(:first-child) {
        margin-top: 70px;
        @include for-size(xl) {
          margin-top: 90px;
        }
      }
    }
  }
}
