h1, h2, h3, h4, p {
  margin: 0;
  color: $color-black;
  font-family: $font-primary;
}

h1 {
  font-size: $font-size-large;
  font-weight: 400;

  @include for-size(m) {
    font-size: $font-size-extra-large;
  }
}

h2 {
  font-size: $font-size-medium;
  font-weight: 600;

  @include for-size(m) {
    font-size: $font-size-large;
  }
}

p {
  font-size: $font-size-normal;
  font-weight: 400;
}

a {
  font-size: $font-size-normal;
  font-family: $font-primary;
  text-decoration: none;
}
