// Base
$color-white: #FFFFFF;
$color-black: #000000;

// Main theme colors
$color-primary: #4988DB;
$color-secondary: #128D56;
$color-tertiary: #E8B85B;
$color-quaternary: #C0293A;

// Variants
$color-gray: #727176;
$color-gray-variant: #F4F4F4;
$color-tertiary-variant : #FBF7EF;
