// Font families
$font-primary: 'Open Sans', sans-serif;

// Font sizes
$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-medium: 20px;
$font-size-large: 30px;
$font-size-extra-large: 35px;
