// Base
$color-white: #ffffff;
$color-black: #000000;

// Main theme colors
$color-primary: #4988db;
$color-secondary: #128d56;
$color-tertiary: #e8b85b;
$color-quaternary: #c0293a;

// Variants
$color-gray: #727176;
$color-gray-variant: #f4f4f4;
$color-tertiary-variant: #fbf7ef;
