.hero {
  min-height: 450px;
  background-color: $color-tertiary-variant;

  .grid {
    justify-items: center;
    align-items: center;
    @include for-size(xl) {
      grid-template-columns: repeat(auto-fit, minmax(483px, 1fr));
    }
  }

  .hero-info {
    max-width: 483px;
    width: 100%;
    text-align: center;
    @include for-size(xl) {
      text-align: left;
    }
    h1 {
      @include for-size(m) {
        font-weight: 400;
      }
    }
    p {
      margin: 32px 0 39px;
    }
    .buttons-wrapper {
      a {
        width: 100%;
        max-width: 288px;
      }
      a:first-child {
        margin-bottom: 20px;
      }
      @include for-size(s) {
        display: flex;
        a:first-child {
          margin-bottom: 0;
          margin-right: 35px;
        }
      }
    }
  }
  .hero-image {
    margin-top: 30px;
    max-width: 547px;
    width: 100%;

    @include for-size(xl) {
      max-width: 547px;
      margin-top: 0;
    }
  }
}

.invitation {
  min-height: 538px;
  .invitation-cards-wrapper {
    &.flex {
      justify-content: center;
      gap: 60px;
      @include for-size(xl) {
        gap: 120px;
      }
    }
  }
}

.location {
  text-align: center;
  min-height: 538px;
  background-color: $color-gray-variant;
  @include for-size(xl) {
    text-align: left;
  }

  .flex {
    justify-content: center;
    align-items: center;
    gap: 44px;
    @include for-size(l) {
      gap: 88px;
    }
    @include for-size(xl) {
      flex-direction: row-reverse;
    }
  }
  .location-map {
    max-width: 460px;
    border: 0;
  }
  .location-info {
    max-width: 455px;
    @include for-size(xl) {
      max-width: 437px;
    }
    .location-details-wrapper {
      text-align: left;
      margin: 66px 0 47px;

      .location-top-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .location-detail-item {
        display: flex;
        margin-bottom: 20px;
        @include for-size(xl) {
          margin-bottom: 40px;
        }
        img {
          margin-right: 23px;
        }
      }
    }
  }
}

.committees {
  min-height: 577px;
  .flex {
    min-height: initial;
    gap: 60px;
    justify-content: center;
  }
}

.sponsors {
  min-height: 260px;
  .grid {
    min-height: initial;
    grid-template-columns: repeat(var(--max-4-columns), auto);
    justify-content: center;
    justify-items: center;
    grid-column-gap: 60px;
  }
}
